# فولدرها یا فایلهایی که نمیخواهیم به گیت وارد شوند به این  فایل اضافه میکنیم.
# مثلا اگه بخواهید فایلها با پسوند 
# txt
# به گیت منتقل نشود به صورت زیر به این فایل اضافه میکنیم
# *.txt
# ----------------------------------------------
.idea
.vscode
*.pyc
__pycache__

# ignore txt files and images
*.txt
*.png
*.jpg
*.jpeg
